.-m-cms-cont-search1 .-item {
	zzzdisplay:block; /* ?? its a div! */
	padding-bottom:1em;
}
.-m-cms-cont-search1 img {
	float:left;
	margin:0 10px 5px 0;
}

.-m-cms-cont-search1 .-item:after {
	content:'';
	display:block;
	clear:both;
}
.-m-cms-cont-search1 .-title,
.-m-cms-cont-search1 .-content {
	display:block;
}
.-m-cms-cont-search1 form {
	margin-bottom:1em;
}
.-m-cms-cont-search1 .-mark {
	background:rgba(255,255,70,.4);
}
