/*
Sizing / aspect ratio
In browsers with no custom properties support:
.c1-aspectRatio > .-spacer::after { padding-bottom:50%; }
No relative or absolute positioned container? here: https://jsfiddle.net/zy2qanqx/8/
*/
.c1-aspectRatio {
	position:relative;
	/* you can use:
	min-height: 100px;
	max-height: 100vh; */
	/* todo when ie11 gone --c1-aspectRatio:.5; */
}
.c1-aspectRatio > .-spacer {
	max-height:inherit;
	overflow:hidden;
	display:block;
	padding-bottom:0 !important;
}
.c1-aspectRatio > .-spacer::after {
	content: '';
    display: block;
    box-sizing: border-box;
    height: 0;
    width: 0;
	/* todo when ie11 gone: padding-bottom: calc( var(--c1-aspectRatio) * 100% ); */
}
.c1-aspectRatio > .-inner {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
