.c1-fieldTable {
    display:table;
    width: 100%;
}
.c1-fieldTable > * {
    display:table-row-group;
}
.c1-fieldTable > * > * {
    display:table-row;
}
.c1-fieldTable > * > * > * {
    display:table-cell;
    padding:.3em;
    width:50%;
    vertical-align:middle;
}
.c1-fieldTable > * > * > :first-child {
	padding-left:0;
	/* width:37%; */
}
.c1-fieldTable > * > * > :last-child {
	padding-right:0;
}
.c1-fieldTable input:not([type=checkbox]):not([type=radio]) ,
.c1-fieldTable textarea ,
.c1-fieldTable select {
	width:100%;
    vertical-align:middle;
}

/*
baseline aligning, would be the perfect solution - but...
ugly hack for ff
safari works if textarea has content or a placeholder!!
http://jsbin.com/topobayatu/1/edit?html,css,output

### flexbox solution
http://jsbin.com/pafuhizeza/1/edit?html,css,output
adventage:
- use margins instead of padding in cells
- smaller

### grid solution, all advantages, but display contents has to be supported;
http://jsbin.com/xalirebofo/1/edit?html,css,output
*/
