#qgRteToolbar .-options > h1, #qgRteToolbar .-options > h4, #qgRteToolbar .-options > h5, #qgRteToolbar .-options > h6 {
	display: none !important;
}
html {
	overflow-y: scroll;
}
body {
	/* ie11 fix: #container display:flex and min-height */
	display:flex;
	flex-direction:column;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 0.25em 0px;
}
h1 {
}
h2 {
}
p {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
a {
	text-decoration: none;
}
a:visited {}
a:hover {}

.l1_width {
	max-width: 860px;
	margin: auto;
	padding-left:4vw;
	padding-right:4vw;
}
#container {
	position: relative;
	z-index: 0;
	zzz_height: 200px; /* ie11, why?, its bad vor safari and ie11 */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: initial;
	xxxmargin: auto; /* why? */
}
#head {
	background-color: rgb(17, 17, 17);
	color: rgb(255, 255, 255);
	padding: 20px 0px;
	z-index:1;
}
#head a {
	color: inherit;
	text-decoration: none;
}
#head > .l1_width {
	align-items: center;
}
#logo > img {
	display:block;
	height:60px;
}
#content {
    flex:1 1 auto;
	min-width: 0px; /* neu, ok? */
}
#main {
    flex:1 1 auto;
}
#left {
	padding-right: 10px;
	width: 170px;
}
#right {
	padding-left: 10px;
	width: 170px;
}
#foot {
	background-color: rgb(17, 17, 17);
	color: rgb(255, 255, 255);
	padding: 20px 0px;
}
#foot a {
	color: inherit;
	text-decoration: none;
}
.l1_cols {
	display: flex;
}
.l1_cols > div {
	box-sizing: border-box;
}
#main nav a {
	display: block;
	color:inherit;
}
#main nav ul {
	padding-left: 0px;
}
#main nav > ul > li > ul > li > a {
	padding-left: 10px;
}
#main nav > ul > li > ul > li > ul > li > a {
	padding-left: 20px;
}
#main nav > ul > li > ul > li > ul > li > ul > li > a {
	padding-left: 30px;
}
.Center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.Left {
	display:block;
	text-align:left;
}
.Right {
	display:block;
	text-align:right;
}
img.Left {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
img.Right {
    float: right;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
