#qgRteToolbar .-options > h3, #qgRteToolbar .-options > h4, #qgRteToolbar .-options > h5, #qgRteToolbar .-options > h6 {
  display: none !important;
}
html {
  overflow-y: scroll;
}
body {
  background-color: rgb(250, 250, 250);
  color: rgb(85, 85, 85);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 0.25em 0px;
}
h1 {
}
h2 {
}
p {
  margin: 0px;
}
a {
  text-decoration: none;
}
a:visited {}
a:hover {}

.l1_width {
  max-width: 800px;
  xxposition: relative;
  margin: auto;
  padding-left:2vw;
  padding-right:2vw;
}
#container {
  position: relative;
  z-index: 0;
  height: 200px; /* ie11 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  margin: auto;
}
#head {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  padding: 20px 0px;
}
#head a {
  color: inherit;
  text-decoration: none;
}
#content {
    flex:1 0 auto;
}
#main {
    flex:1 0 auto;
}
#left {
  padding-right: 10px;
  width: 170px;
}
#right {
  padding-left: 10px;
  width: 170px;
}
#foot {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  padding: 20px 0px;
}
#foot a {
  color: inherit;
  text-decoration: none;
}
.l1_cols {
  display: flex;
}
.l1_cols > div {
  box-sizing: border-box;
}
#left nav a {
  display: block;
}
#left nav ul {
  padding-left: 0px;
}
#left nav > ul > li > ul > li > a {
  padding-left: 10px;
}
#left nav > ul > li > ul > li > ul > li > a {
  padding-left: 20px;
}
#left nav > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 30px;
}
.Center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
.Left {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.Right {
  float: right;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
